body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: normal;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.logo {
    width: 175px;
    height: 100%;
}

.fa-cart-plus {
    color: #212529;
}

.fa-user {
    color: #212529;
}

#pesanan {
    margin-top: 40px;
}

#menu {
    margin-top: 50px;
}

#menu ul li a {
    color: black;
}

#menu ul li a:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

#menu ul li a:not(hover) {
    border-radius: 10px;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.konfirmasi {
    font-size: small;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}