body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#page-container {
    position: relative;
    min-height: 100vh;

}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

.logo {
    width: 200px;
    height: 100%;
}

.align-items-right:hover {
    background-color: rgb(237, 237, 237);
}

.bayar {
    position: fixed;
    right: 100px;
}

.small {
    font-size: 16px;
    margin-top: 1px;
    color: gray;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}